[Unit]
Description=Plai media player
Wants=weston.service
After=weston.service

[Service]
RestartSec=10
Restart=always
ExecStart=plai -l debug --watermark %h/resources/watermark.png --img-dur 4 --blend 2 --fullscreen --accel=vulkan --watermark-stretch

[Install]
WantedBy=default.target
