[Unit]
Description=Weston
Requires=weston.socket
After=weston.socket
Before=default.target

[Service]
Type=notify
TimeoutStartSec=60
WatchdogSec=20
StandardOutput=journal
StandardError=journal
RestartSec=10
Restart=always
ExecStart=/usr/bin/weston --modules=systemd-notify.so

[Install]
RequiredBy=default.target
